<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Korisnika</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #343a40; /* Dark grey background color */
            color: #fff; /* White text color */
        }
        .table th, .table td {
            color: #fff; /* White text color for table cells */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Lista Korisnika</h2>
    <div class="btn-group" role="group" aria-label="Button Group">
        <a href="http://localhost:8080" class="btn btn-outline-primary">Početna</a>
        <a href="/korisnici/add" class="btn btn-outline-success">Dodaj Novog Korisnika</a>
        <form th:action="@{/logout}" method="post" class="d-inline">
            <button type="submit" class="btn btn-outline-danger">Odjavi se</button>
        </form>
    </div>
    <table class="table mt-3 table-dark">
        <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Adresa</th>
            <th>Broj Mobitela</th>
            <!-- Dodajte dodatne stupce ako je potrebno -->
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="korisnik : ${korisnici}">
            <td th:text="${korisnik.ime}">Ime</td>
            <td th:text="${korisnik.prezime}">Prezime</td>
            <td th:text="${korisnik.email}">Email</td>
            <td th:text="${korisnik.adresa}">Email</td>
            <td th:text="${korisnik.mobitel}">Email</td>
            <!-- Dodajte dodatne ćelije ako je potrebno -->
            <td>
                <form th:action="@{/korisnici/delete/{idKorisnika}(idKorisnika=${korisnik.idKorisnika})}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-outline-danger">Obriši</button>
                </form>
                <a th:href="@{/korisnici/edit/{idKorisnika}(idKorisnika=${korisnik.idKorisnika})}" class="btn btn-outline-primary">Uredi</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>