<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stranica kupca</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.
min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Dobrodošli, Kupac!</h1>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Shop</h5>
            <p class="card-text">Pregledajte proizvode koje su u vasoj kosarici.</p>
            <a href="#" class="btn btn-primary">Kosara</a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Moje Ocjene</h5>
            <p class="card-text">Provjerite svoje ocjene i komentare
                nastavnika.</p>
            <a href="#" class="btn btn-primary">Pregled Ocjena</a>
        </div>
    </div>
    <!-- Ostale funkcionalnosti -->
</div>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.mi
n.js"></script>
</body>
</html>

//TODO: Dizajnirati stranicu