<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Korisnika</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <a href="http://localhost:8080" class="btn btn-primary justify-content-end">Početna</a>
    <h2>Lista Korisnika</h2>
    <a href="/korisnici/add" class="btn btn-success">Dodaj Novog Korisnika</a>
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-danger">Odjavi se</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Adresa</th>
            <th>Broj Mobitela</th>
            <!-- Dodajte dodatne stupce ako je potrebno -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="korisnik : ${korisnici}">
            <td th:text="${korisnik.ime}">Ime</td>
            <td th:text="${korisnik.prezime}">Prezime</td>
            <td th:text="${korisnik.email}">Email</td>
            <td th:text="${korisnik.adresa}">Email</td>
            <td th:text="${korisnik.mobitel}">Email</td>
            <!-- Dodajte dodatne ćelije ako je potrebno -->
            <td>
                <div>
                    <form th:action="@{/korisnici/delete/{idKorisnika}(idKorisnika=${korisnik.idKorisnika})}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-danger">Obriši</button>
                    </form>
                    <a th:href="@{/korisnici/edit/{idKorisnika}(idKorisnika=${korisnik.idKorisnika})}" class="btn btn-primary d-inline-block">Uredi</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>